Brotli==1.1.0
certifi==2023.11.17
cffi==1.15.1
charset-normalizer==3.3.2
clr-loader==0.2.5
etcpak==0.9.8
flatbuffers==23.5.26
fsspec==2023.12.2
idna==3.6
lz4==4.3.3
pillow==10.2.0
pycparser==2.21
pycryptodome==3.20.0
pyfmodex==0.7.1
pythonnet==3.0.1
requests==2.31.0
tabulate==0.9.0
texture2ddecoder==1.0.4
UnityPy==1.10.7
urllib3==2.1.0
xxhash==3.4.1